.modal-container{
    z-index: 1;
    position:fixed;
    left:0;
    top:0;
    display:flex;
    width:100%;
    height:100%;
    align-items: center;

    align-items:center;
    justify-content:center;
    background-color: rgba(0,0,0,0.4);
    /* position: relative; */
    /* display: inline-block; */



}
h4{
    text-align: center;
    margin-bottom: 5px;
}
.modal{
    border-radius:5px;
    padding:2rem;
    background-color: white;
    width:25em;
position: relative;
  
}
.modal .btn{
    display: block;
    margin: auto;
    /* //to get it in center hrizontally */


}

.btn{
    padding:0.5rem 1rem;
    color:black;
    background-color:cadetblue;
   
}
.cancel-img{
left:230px;
    position: absolute;
/* bottom:150px; */
background-color: lightgray;

}

.form-group{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    margin-bottom: 1rem;

}
.form-group textarea, .form-group input{
    border: 1px solid black;
    border-radius:0.3rem;
    padding:0.3rem;
    font-size: 1rem;

}

/* .parent {
    position: relative;
    display: inline-block;
  } */
  
  /* .cross-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightgray;
    width:5px;
  } */