

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border:0;
    /* background-color:aliceblue; */
}

.main-container{
    display:flex;
  height:80vh;
  margin-top:40px;
  /* align-items: start; */
 
   width:100%;
   gap:1rem;

}
.icon{
    color:black;
}
.sidebar{
    position:sticky;  
    width:15%; 
    margin-left:10px;
    /* position:fixed;     */
     
}
    /* height:100vh;
    width:20%;
    height:max-content;
    padding:20px;
   
    /* padding-top: 20em; */
 /* background-color:aliceblue;
 margin-top:20vh;
  */
  

.link{
    display:flex;
    gap: 10px;
    color:grey ;
    padding:15px 10px;
    overflow: hidden;
    border-right:4px solid transparent;
    font-weight: bold;


}
.link:hover{
    border-right:4px solid white;
    /* transition:0.2s; */
    background: blanchedalmond;
    border-radius: 20%;
    color:black
}
a{
    text-decoration: none;
}
.text{
    font-size: 20px;
}

.icon{
    font-size:30px;
}

   
button{
        /* display: block; */
     text-decoration: none;
        margin: auto;
        /* //to get it in center hrizontally */
    
    
    }
    button{
        padding:0.5rem 1rem;

        background-color:cadetblue;
        /* display:none; */
       
    }
    .btn{
        display:flex;
        padding:15px 10px;
        color:black;
        border-radius:10%;
    }
    
.outlet-component{
    width:60%;
    height:100vh;
    /* padding-top: 2em; */
   
}
.right-bar{
    width:20%;
right:0;
height:100dvh;
position:sticky;
top:0;
/* padding-top: 10em; */
}