*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:15vh;
    width:100%;
    background-color: azure;
}
.items-container{
    display:flex;
    justify-content: flex-end;
}
.item{
    padding:20px;

font-size: 20px;
font-weight: bold;
}