* {
  margin: 0;
  padding: 0;
}

/* .header-login {
  /* margin: 10px; */
/* } * */
/* .form-login {
  background-color: aqua;
  width: 400px;
  height: 400px;
} */
.form-login {
  margin: 5rem;
}
.login-container {
  display: flex;
  width: 800px;
  height: 500px;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  flex-direction: row;
  margin: 0 auto;
  margin-top: 2rem;
  /* align-items: center; */
}
input {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.right img {
  width: 50%;
  width: 400px;
  height: 500px;
}

.left {
  background-color: beige;
  width: 50%;
}
.btn-login-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.submitBtn {
  width: 5rem;
  margin-left: 1rem;
  height: 2rem;
}
.header-login {
  margin: 2rem;
}
.submitBtn:hover {
  background-color: transparent;
  color: brown;
  cursor: pointer;
}
.login-confirmation span {
  color: blue;
  font-weight: 10px;
}
.login-confirmation span:hover {
  font-weight: 25px;
}

h3 {
  font-size: 14px;
}

.password-input {
  width: 200px;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  position: relative;
}

.password-input input {
  width: 200px;
  /* background-color: transparent; */
}

.password-input span {
  right: 0;
  /* right: 10px; */
  position: absolute;
  top: 5px;
  color: black;
  padding-right: 10px;
}
